<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="canonical" href="{{site-url}}{{uri}}">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="academic homepage, live coding, ANU, research">
        <meta name="author" content="{{author}}">
        <!-- <link rel="icon" href="favicon.ico"> -->

        <title>{{title}}{% block subtitle %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        {% style "css/cutestrap.css" %}

        <!-- Custom styles for this template -->
        {% style "css/blog.css" %}
        <link href="http://fonts.googleapis.com/css?family=Alegreya:500,700,500italic,700italic|Alegreya+Sans:300,500,300italic,500italic" rel="stylesheet" type="text/css">
    </head>
    <body>

        <header class="blog-masthead">
            <a class="nav-link" href="{{index-uri}}">benswift.me</a>
            <nav class="nav grid">
                {% for nav-page in navbar-pages %}
                <a class="nav-link" href="{{nav-page.uri}}">{{nav-page.title}}</a>
                {% endfor %}
                <a class="nav-link" href="{{archives-uri}}">Archive</a>
            </nav>
        </header>

        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="blog-footer">
            <div class="wrapper grid">
                <div>
                    <h4>Links</h4>
                    <p>My research, writing, code and creative work can be found
                        all over the internet:</p>
                    <ul>
                        <li><a href="https://github.com/benswift">GitHub</a></li>
                        <li><a href="https://vimeo.com/benswift/videos">Livecoding videos</a></li>
                        <li><a href="https://scholar.google.com/citations?user=gU8elPkAAAAJ&hl=en&oi=ao">Google Scholar</a></li>
                        <li><a href="https://anu-au.academia.edu/BenSwift">Academia.edu</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Colophon</h4>
                    <p>Copyright &copy; {{today|date:yyyy}}
                        <a href="ma&#105;lto&#58;&#37;&#54;2%&#54;5&#110;&#46;swi&#102;t&#64;an&#117;&#46;edu&#37;2E%61&#117;">Ben Swift</a>
                    </p>
                    <p>
                        Licenced under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA</a>
                    </p>
                    <p>Built with <a href="http://cryogenweb.org">Cryogen</a> and <a href="https://www.cutestrap.com/">Cutestrap</a></p>
                </div>
            </div>
        </footer>

        <!-- source code highlighting with highlight.js -->
        <!-- {% script "js/highlight.pack.js" %} -->
        <!-- <script>hljs.initHighlightingOnLoad();</script> -->
    </body>
</html>
