{% extends "/html/base.html" %}
{% block content %}
<div id="post">
    {% for post in posts %}
    <div>
        <h3>{{post.title}}</h3>
        <div id="post-meta">
            <div class="date">{{post.date|date:longDate}}</div>
        </div>
    </div>
    {{post.content|safe}}
    <a href="{{post.uri}}">Continue reading &#8594;</a>
    <hr>
    {% endfor %}

    <div id="prev-next">
        {% if post.prev %}
        <a class="btn f-left" href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="btn f-right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
