@import "variables";

header{
  background-color: $primary;
  color: $white;
  padding: 0 1rem;
}

header h3{
  font-size: $font-size--large;
  padding: 0;
}

header a{
  &:link,
  &:visited,
  &:focus,
  &:active{
    color: lighten($primary, 60%);
    text-decoration: none;
  }
}

nav{
  margin-top: -1px;
  padding: 1.2rem;
}

nav ul{
  padding: 0;
}

nav li {
  padding: 0 1.5rem;
  display: inline-block;
}

footer {
  color: lighten($gray1, 40%);
}
