{:site-title         "Ben is on the Tubes"
 :author             "Ben Swift"
 :description        "researcher, educator, hacker, artist"
 :site-url           "http://benswift.me"
 :post-root          "posts"
 :page-root          "pages"
 :post-root-uri      "posts-output"
 :page-root-uri      ""
 :tag-root-uri       "tags-output"
 :blog-prefix        ""
 :rss-name           "rss-feed"
 :rss-filters        []
 :recent-posts       5
 :post-date-format   "yyyy-MM-dd"
 :sass-src           "themes/biott/css"
 :sass-dest          "css"
 :theme              "biott"
 :resources          ["img" "CNAME" ".nojekyll"]
 :keep-files         [".git" ".gitignore"]
 :disqus?            false
 :disqus-shortname   ""
 :ignored-files      [#"\.#.*" #".*\.swp$"]
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false
 :clean-urls?        true}
